{% extends 'base.html' %}
{% block title %}Signup{% endblock title %} 
{% load static %}
{% block content %} 
{% load crispy_forms_tags %} 

<h1 align="center"><span style="color:goldenrod">Welcome to Heroes comic space</span></h1>
<div class="container-section px-5px mx-5px">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign-Up</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button class="btn btn-outline-info" type="submit">Register</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">If you already have an account? <a class="ml-2" href="/Login">Sign in</a> instead.</small>
    </div>   
</div>
{% endblock %}