{% extends 'base.html' %}
{% block title %}ForgetPassword{% endblock title %} 
{% load static %}
{% block content %}
<h1 align="center"><span style="color:goldenrod">Welcome to Heroes comic space</span></h1>
<divclass="container-fluid px-5px mx-5px">
  <form>
    <table align="center" id="LoginBackground" class ="rounded" class ="table table-bordered">
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Username</td>
        <td><input type="text" name="Username" maxlength="8"></td>
        <td class="imp">*</td>
      </tr>
      <tr>
        <td> </td>
        <td>Old Password </td>
        <td><input type="Password" name="Password" maxlength="8"></td>
        <td class="imp">*</td>
      </tr>
      <tr>
        <td> </td>
        <td>Mobile No.</td>
        <td><input type="tel" name="Username" maxlength="10"></td>
        <td><input type="submit" value="Verify" class="submit"></td>
      </tr>
      <tr>
        <td> </td>
        <td>Mobile OTP</td>
        <td><input type="tel" name="otp"></td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>New Password </td>
        <td><input type="Password" name="Password" maxlength="8"></td>
        <td class="imp">*</td>
      </tr>
      <tr>
        <td> </td>
        <td>Confirm Password</td>
        <td><input type="Password" name="Password" maxlength="8"></td>
        <td class="imp">*</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td align="right"><input type="submit" value="Reset" class="submit"></td>
        <td> </td>
      </tr>
      <tr>
        <td align="center" colspan="4"><a href="{% url 'blog-LoginPage' %}">Login here</a></td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td class="p" align="right">0.0.0.1</td>
      </tr>
    </table>
  </form>
  <P align="right"><small ></small></P>
</div>
<p><strong>Customer service Group<br>XXXX XXX XXXX</strong></p>
{% endblock content %}